:root {
  --color-main: #ffffff;
  --color-text: #121417;
  --color-accent: #3470ff;
  --color-hover: #0b44cd;
  --color-tag: #12141780;
  --color-dropdown: #12141733;
  --color-filter-hint: #8a8a89;
  --color-img-background: #f3f3f2;

  --color-tags-list: rgba(18, 20, 23, 0.5);
  --color-decor-line: rgba(18, 20, 23, 0.1);
  --color-conditions-bg: #f9f9f9;
  --color-conditions-text: #363535

  --transition-hover: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  --mobile: 375px;
  --tablet: 768px;
  --desktop: 1440px;
}
