.container {
  position: relative;

  width: 274px;
  height: 426px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    transform: scale(1.1);
  }

  &:focus {
    transform: scale(1.1);
  }
}

.imgWrapper {
  width: 274px;
  height: 268px;

  margin-bottom: 14px;

  border-radius: 14px;

  overflow: hidden;
}

.img {
  height: 100%;

  object-fit: cover;
}

.likeBtn {
  position: absolute;
  top: 14px;
  right: 14px;

  &:hover {
    transform: scale(1.2);
  }
}

.titleWrapper {
  display: flex;
  justify-content: space-between;

  color: var(--color-text);

  overflow: hidden;

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.titleModel {
  text-overflow: ellipsis;
}

.model {
  color: var(--color-accent);

  text-overflow: ellipsis;
}

.rentalPrice {
  margin-right: 9px;
}

.tagsWrapper {
  width: 270px;
  height: 40px;

  margin-top: 8px;
  margin-bottom: 28px;

  text-overflow: ellipsis;
  overflow: hidden;
}

.list {
  display: inline-flex;
  flex-wrap: wrap;

  color: var(--color-tags-list);

  font-size: 12px;
  line-height: 1.5;

  & > li {
    padding-left: 6px;
    padding-right: 6px;

    border-right: 1px solid var(--color-decor-line);
  }

  & > li:first-child {
    padding-left: 0px;
  }

  & > li:last-child {
    padding-left: 6px;
    border-right: none;
  }
}
