.container {
  width: var(--desktop);

  margin: 50px auto 100px;
  padding: 0 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px 29px;
}
