@import 'modern-normalize/modern-normalize.css';
@import '../src/fonts/fonts.css';
@import '../src/styles/reset.css';
@import '../src/styles/vars.css';

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
